.desc {
    text-align: center;
    margin-top: 20%;
    font-size: 2rem;
    font-weight: 100;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;


      }

.central {
    text-align: center
}

.note {
    margin-top: 20px;
    text-align: left;
    font-weight: 100;

}

.note_map {

    min-height: 200px;
    max-height: 200px;

}


textarea.form-control {
  height: 100px;
}

.sticky-top {
   top: 0.5em;
}

